@import "../variables";

.mainLayout {
    height: 100vh;
    width: 100%;
    background: $primary-color;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 24px;
				background-color: rgba(255, 255, 255, 0.2);
        border-radius: 0 0 7px 7px;
    }

    .title {
        color: $secondary-color;
        margin-right: 20px;
    }

    .navMenu {
        background: transparent;
        display: flex;
        align-items: center;
        flex-grow: 1;
				height: 80%;
    }

		.navMenu li {
			margin: 1px;
			background-color: rgba(255, 255, 255, 0.06);
			width: auto;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			color: $secondary-color;
		}

    .settingsPart {
        width: auto;
        background: transparent;
        display: flex;
    }

    .siderWrapper {
        background: transparent;
        height: 100%;

        .subMenu {
            background-color: rgba(255, 255, 255, 0.6);
            border-radius: 0 10px 10px 0;
            overflow: hidden;
            height: 100%;
        }
    }

    .contentLayout {
        padding: 0 24px 24px;
        background: inherit;
        color: $secondary-color;
        flex: 1;
    }
}