@import "variables";

.cardBody {
  align-items: center;
  // background-color: var(--bg-color);
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0px;
	margin-top: 40px;
  overflow: hidden;
  padding: 0px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 8px; 
  max-width: 916px;
  width: calc(100% - 20px);
}

.card {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: 260px;
  flex-direction: column;
  position: relative;
  width: 300px;
	transition: box-shadow 0.5s ease-in-out;
}

.card:hover {
	box-shadow: 0 0 20px 8px rgba(255, 255, 255, 0.5);
}

.cardContent {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: end;
	padding: 0px 20px;
	width: 100%;
}

.cardImage {
	width: calc(100% - 100px);
	margin-bottom: 10px;
}

.cardMenu {
	background-color: rgba(251, 132, 5, 0.5);
	border-radius: 15%;
}