$primary-color: #3b3b3b;

body {
    background: $primary-color;
}

.mainLayout {
    height: 100vh;
    width: 100%;
    background: $primary-color;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 24px;
        background: #515459;
        border-radius: 0 0 7px 7px;
    }

    .title {
        color: #d1cc94;
        margin-right: 20px;
    }

    .navMenu {
        background: transparent;
        display: flex;
        align-items: center;
        flex-grow: 1;
				height: 80%;
    }

		.navMenu li {
			margin: 1px;
			background-color: rgba(255, 255, 255, 0.04);
			width: auto;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #c5ccd9;
		}

    .settingsPart {
        width: auto;
        background: $primary-color;
        display: flex;
    }

    .siderWrapper {
        background: $primary-color;
        height: 100%;
        .subMenu {
            background-color: rgba(255, 255, 255, 0.6);
            border-radius: 0 10px 10px 0;
            overflow: hidden;
            height: 100%;
        }
    }

    .contentLayout {
        padding: 0 24px 24px;
        background: $primary-color;
        color: #d1cc94;
        flex: 1;
    }
}